{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}Categories{% endblock %}

{% block body_block %}
    <h2>All Categories</h2>
    {% if categories %}
        <div class="list-group">
            {% for category in categories %}
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">
                        <a href="{% url 'category' category.slug %}">{{ category.name }}</a>
                    </h4>
                    <p class="list-group-item-text">{{ category.name }} has <strong>{{ category.likes }}</strong>
                        likes and <strong>{{ category.views }}</strong> views.</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <bold>No categories to show.</bold>
    {% endif %}
{% endblock %}